:root {
  --primary-white: #fff;
  --primary-blue: #2b7fff;
  --primary-navy-blue: #011c44;
  --secondary-dark-grey: #4a4a4a;
  --secondary-dark: #000;
  --secondary-grey: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctop: 1200px;
