.contacts-section {
  padding-bottom: 0;
  @media screen and (min-width: $bp-desctop) {
    padding-bottom: 96px;
  }

  &__flex {
    padding-top: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column-reverse;
    @media screen and (min-width: $bp-desctop) {
      padding-top: 48px;
      gap: 32px;
      flex-direction: row;
    }
  }

  &__map {
    flex-shrink: 0;
    border: none;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $bp-desctop) {
      border-radius: 32px;
      width: 605px;
      height: 481px;
    }
  }

  &__conteiner {
    width: 422px;
    height: 480px;
    border-radius: 48px;
    background-image: url(../picture/modal-becground.png);
    background-color: var(--primary-navy-blue);
    padding: 48px 0px;
  }
}

.contacts-text {
  color: var(--secondary-grey);
  font-size: 12px;
  width: 212px;
  text-align: center;
}
